.header__lang-link {
  font-family: 'Inter', 'Tahoma', 'Geneva', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.17;
  text-align: right;
  color: #ffffff;
  margin: 0;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: .5;
  transition: .2s;
}

@media screen and (max-width: 540px) {
  .header__lang-link {
    font-size: 1.12rem;
    line-height: 1.11;
  }
}
