.cover__link {
  width: 100%;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  position: relative;
}

.cover__link:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: 0.2s;
}

.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1120px) {
  .cover__link {
    max-width: 1024px;
    max-height: 620px;
  }
}

@media screen and (max-width: 960px) {
  .cover__link {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover__link {
    max-height: 200px;
  }
}


