.page {
  min-width: 100%;
  height: auto;
  background-color: #2A2C2F;
  margin:0 auto;
  font-family: 'Inter', 'Tahoma', 'Geneva', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 28px 0 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 1120px) {
  .page {
    padding-top: 16px;
    min-width: 80%;
  }
}

@media screen and (max-width: 960px) {
  .page {
    min-width: 60%;
    padding-top: 16px;
  }
}

@media screen and (max-width: 540px) {
  .page {
    max-width: 320px;
    padding-top: 16px;
  }
}

