.intro__list {
  list-style: none;
  font-family: 'Inter', 'Tahoma', 'Georgia', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
