.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1120px){
  .lead {
    max-width: 928px;

  }
}

@media screen and (max-width: 960px){
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 540px){
  .lead {
    max-width: 320px;
  }
}
