.cover__subtitle {
  max-width: 360px;
  font-family: 'Inter', 'Tahoma', 'Geneva', sans-serif;
  font-weight: normal;
  font-size: 1.12rem;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  margin: 32px auto 245px;
  z-index: 1;
}

@media screen and (max-width: 1120px) {
  .cover__subtitle {
    margin: 32px auto 195px;
  }
}

@media screen and (max-width: 960px) {
  .cover__subtitle {
    margin: 32px auto 115px;
  }
}


@media screen and (max-width: 560px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 0.875rem;
    line-height: 1.14;
    margin: 16px auto 33px;
  }
}


