.place__text {
  font-family: 'Inter', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.63;
  color: #ffffff;
  margin: 0 0 26px;
  word-wrap: break-word;
}

.place__text:last-of-type {
  margin: 0;
}

@media screen and (max-width: 960px) {
  .place__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .place__text {
    font-size: 1rem;
  }
}
