.footer__link {
  font-family: 'Inter', 'Tahoma', 'Georgia', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.12;
  color: #ffffff;
  margin: 0 18px 0 0;
  text-decoration: none;
}

.footer__link:hover {
  opacity: .8;
  transition: .3s;
}

@media screen and (max-width: 600px) {
  .footer__link {
    font-size: .9rem;
    line-height: 1.12;
  }
}

@media screen and (max-width: 540px) {
  .footer__link {
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 32px;
  }

  .footer__link:last-of-type {
    margin: 0;
  }
}
