.intro {
  max-width: 690px;
  min-height: 429px;
  margin: 0 auto 85px 157px;
}

@media screen and (max-width: 1120px) {
  .intro {
    max-width: 690px;
    margin: 0 auto 132px 47px;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    max-width: 720px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    max-width: 288px;
    margin: 0 auto 64px;
 }
}
