.intro {
  max-width: 690px;
  min-height: 429px;
  margin: 85px 432px 85px 157px;
}

@media screen and (max-width: 1120px) {
  .intro {
    margin: 56px 287px 132px 47px;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    max-width: 720px;
    margin: 88px auto;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    max-width: 288px;
    margin: 64px auto;
  }
}
