.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 64px;
  font-family: 'Inter', 'Tahoma', 'Geneva', sans-serif;
  font-weight: normal;
  font-size: 1.88rem;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1120px) {
  .lead__subtitle {
    margin: 32px auto 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 1.5rem;
    max-width: 500px;
  }
}

@media screen and (max-width: 540px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 16px auto 40px;
  }
}
