.footer {
  width: 92%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0;
}

@media screen and (max-width: 540px) {
  .footer {
    flex-direction: column;
  }
}
